<div class="form-field {{#if disabled}}form-field--disabled{{/if}}">
  <label class="form-field__label">{{label}}</label>
  <div class="flex">
  <span class="form-field__data">{{name}}</span>
  <label class="form-field__currency">{{currency}}</label>
  </div>
</div>
