{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class='main'>

  <section class='form'>
    <div class='form__card'>
      <div class='form__namePrice'>
        <div class='form__content'>
          <h2 class='form__label'>{{data.message}}</h2>
          <h3 class='form__labelSmall'>{{data.info}}</h3>
        </div>
        <button onclick="location.href='{{data.link}}'" class='form__button'>Повернутися назад</button>
      </div>
    </div>

  </section>

</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}