@use '../../lib/service.scss' as s;

.main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.form {
  padding: s.space(4);
  gap: s.space(8);
  width: 500px;

  border: 1px solid s.color('light');
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  padding: s.space(4);

  gap: s.space(8);

  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: s.space(4);
  }

  &__content {
    display: grid;
    gap: s.space(6);
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }

  &__label {
    font-size: 14px;
  }

  &__input {
    border: 1px solid s.color('light');
    padding: s.space(2);
    border-radius: 5px;
  }

  &__button {
    border: 1px solid s.color('light');
    padding: s.space(2);
    border-radius: 5px;
    color: white;
  }

  &__btnBlue {
    background-color: rgb(62, 162, 255);
  }

  &__btnGreen {
    background-color: green;
  }

  &__btnRed {
    background-color: red;
  }
}

.user-list {
  li {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
