<main class='main'>
  <section class='form'>
    <div class='form__card form__flex'>
      <h1 class='form__title'>Мої замовлення</h1>
      <button onclick="location.href='/'" type='button' class='form__button form__btnGreen'>Купити ще...</button>
      </button>
    </div>

    {{> purchase-card}}

  </section>
</main>