{{!-- file purchase-index.hbs --}}
<main class="purchase-index__main">
  <div class="purchase-index__product-text">
    <div class="purchase-index__product-title">
      {{> heading title='Товари'}}
    </div>
    <div class="purchase-index__product-subtitle">
      {{> heading info="Комп'ютери та ноутбуки, неттопи та моноблоки"}}
    </div>
  </div>

  <div class="purchase-index__product-list">
    {{#each data.list}}
    {{> purchase-product data=this}}
    {{/each}}
  </div>
</main>